.infoCards {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 20px;
  flex: 1;
  background: green;
  color: black;
}

.card img {
  width: 30%;
}

.card h3 {
  font-size: 28px;
}

.card p {
  font-size: 17px;
}
